{% extends 'layoutEmail.html.twig' %}

{% block title %}{% endblock %}

{% block header1 %}New episode {{ episode.title }} created{% endblock %}

{% block main_Paragraph %}<p>Hello, the episode {{ episode.number }} {{ episode.title }} has been created on Wild Series</p>{% endblock %}

{% block secondary %}<p>Synopsis : {{episode.synopsis }}</p>{% endblock %}

{% block link %}<a href="http://127.0.0.1:8000{{ path('program_episode_show', { slug: program.slug, seasonId: season.id, eslug: episode.slug }) }}">cliquer ici pour voire l'épisode</a>{% endblock %}
