<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>New program</title>

</head>

<body>

<h1>New episode {{ episode.title }} created</h1>

<p>Hello, the episode {{ episode.number }} {{ episode.title }} has been created on Wild Series</p>

<p>Synopsis : {{episode.synopsis }}</p>

<p>Link to the episode created : <a href="http://127.0.0.1:8000{{ path('program_episode_show', { slug: program.slug, seasonId: season.id, eslug: episode.slug }) }}">cliquer ici pour voire l'épisode</a></p>

</body>

</html>
