{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>{{ program }} - Season {{ seasonNumber }} - Episode {{ episodeNumber }} : {{ episodeTitle }}</h1>
        <p>
            {{ synopsis }}
        </p>
        {% if app.user %}
            <div class="border">
                <h2>Comment</h2>
                {% for listComment in listComments %}
                    <div class="border text-center">
                        {{ listComment.id }}.
                        <p>
                            {{ listComment.comment }}
                        </p>
                    </div>
                {% endfor %}
            </div>

            <div>
                {{ include('comment/_form.html.twig') }}
            </div>
            <a class="btn-primary" href="{{ path('comment_new') }}">Add a new Comment</a>
        {% else %}
            Connecter vous pour voir ou ajouter un commentaire
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}
