{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>{{ program }} - Season {{ seasonNumber }} - Episode {{ episodeNumber }} : {{ episodeTitle }}</h1>
        <p>
            {{ synopsis }}
        </p>

    </div>
{% endblock %}

{% block javascript %}

{% endblock %}
